@import '../../../style/mixins';
@import '_stops_tab';
@import '_schedule_tab';

.line-editor-content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xl);
    min-width: 750px;

    .form-group {
        @extend .form-group;

        input[type="color"] {
            width: 80px;
            height: 32px;
            padding: 2px;
        }

        input[type="text"] {
            width: 120px;
            font-family: monospace;
        }

        input[type="text"].train-number-format-input {
            width: 250px;
        }

        input[type="text"].train-number-input {
            width: 250px;
        }

        input[type="text"].line-name-input {
            width: 300px;
        }

        input[type="time"] {
            width: 120px;
        }

        .checkbox-label {
            display: flex;
            align-items: center;
            gap: var(--spacing-sm);
            cursor: pointer;

            input[type="checkbox"] {
                cursor: pointer;
            }
        }

        .form-help {
            @extend .help-text;
        }

        .thickness-control {
            display: flex;
            align-items: center;
            gap: var(--spacing-md);

            input[type="range"] {
                flex: 1;
                max-width: 200px;
            }

            .thickness-value {
                font-size: var(--font-size-base);
                color: var(--color-text-tertiary);
                min-width: 30px;
                text-align: right;
            }
        }
    }

    .line-editor-footer {
        display: flex;
        justify-content: flex-end;
        gap: var(--spacing-md);
        padding: var(--spacing-xl);
        border-top: 1px solid var(--color-border-dark);

        button {
            &.cancel-button {
                @extend .button-default;
            }

            &.save-button {
                @extend .button-primary;
            }
        }
    }
}
