// ConfirmationDialog component styles
.confirmation-dialog-content {
    padding: var(--spacing-xl);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xl);

    .confirmation-message {
        color: var(--color-text-tertiary);
        margin: 0;
    }

    .confirmation-buttons {
        display: flex;
        justify-content: flex-end;
        gap: var(--spacing-md);

        .cancel-button {
            @extend .button-default;
            padding: var(--spacing-sm) var(--spacing-xl);
        }

        .confirm-button {
            @extend .button-primary;
            padding: var(--spacing-sm) var(--spacing-xl);

            &.danger {
                background-color: var(--color-danger-dark);
                border-color: var(--color-danger-dark);

                &:hover {
                    background-color: var(--color-danger-darker);
                    border-color: var(--color-danger-darker);
                }
            }
        }
    }
}
