@import '../../style/mixins';

.report-issue-button {
    @extend .button-default;
    text-decoration: none;
    padding: var(--spacing-xs) var(--spacing-lg);

    &:hover {
        text-decoration: none;
    }

    .github-icon {
        width: 16px;
        height: 16px;
        flex-shrink: 0;
    }

    span {
        white-space: nowrap;
    }
}
